.bicycle-container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  /* gap: 1rem; */
  overflow-x: auto;

  .card {
    padding: 8px;
    margin: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: lightgrey;
    transition: 0.3s ease;

    .image {
      border: white 1px solid;
      border-radius: 5px;
    }

    .paragraph {
      color: black;
    }

    &:hover {
      transform: scale(1.02);
    }
  }
}
