@import "./styles/reset.css";
@import "./styles/typography.css";
@import "./styles/colors.css";
@import "./styles/utilities.css";

html {
  max-width: 1100px;
  margin: 0 auto;
  scrollbar-gutter: stable;
}

body {
  margin: 10px;
  background: black;
}

.img-customazation {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: inset;
}
