.header-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  overflow: hidden;

}

@media (max-width: 600px) {
  .header-navbar-container {
    flex-direction: column;
    margin: 1rem auto;

  }
}
