.introduction__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  .image {
    position: relative;
    top: 14px;
    left: 20px;
    width: 90%;
    transform: rotate(3deg);
  }
}

.information__container {
  display: flex;
  gap: 1.4rem;
}

.partners__container h1 {
  text-align: center;
}

.testimonials__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--gray-0);
}

.testimonials__container blockquote {
  padding: 1rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonials__container p {
  font-size: clamp(1.1rem, 2.5vw, 1.4rem);
  font-style: italic;
  color: black;
  position: relative;
  margin-bottom: 0.5rem;
}

.testimonials__container p:before,
.testimonials__container p:after {
  font-size: 4rem;
  position: absolute;
  color: var(--gray-3);
}

.testimonials__container p:before {
  content: '"';
  top: -30px;
  left: -35px;
}

.testimonials__container p:after {
  content: '"';
  bottom: -40px;
}

.partners__container {
  /* height: 100px; */
}

.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.brands {
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.partners__container .logos {
  display: flex;
  align-items: center;
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: slider 15s linear infinite;
  animation-delay: calc((15s / var(--quantity)) * (var(--position) - 1));
}

.logos img {
  width: 100%;
}

@keyframes slider {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .logos {
  animation-play-state: paused;
}

@media (max-width: 768px) {
  .introduction__container {
    grid-template-columns: 1fr;

    .image {
      position: static;
      transform: rotate(0deg);
      width: 100%;
    }
  }

  .testimonials__container {
    grid-template-columns: 1fr;
  }
}
