.header-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .header-navbar-container {
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    margin: 1rem auto;
  }
}
