.header-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  filter: invert();
  width: 35px;
  height: auto;
}

.logo-name {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  position: relative;
  bottom: 3px;
}
