.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.link-border:after {
  content: "";
  display: block;
  height: 2px;
  background: #fff;
  width: 0%;
  transition: 0.3s;
  
}

.link-border:hover:after {
  width: 100%;
}

@media (width <= 600px) {
  .link-container {
    margin: 1rem;
  }
}